.c-item{
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  .c-imgs{
    height: 50%;
    object-fit: cover;
    
  }

  /* nav style */
  .navbar-brand img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 30px;
    height: 30px;
}

.navbar {
    z-index: 9;
    padding: 0;
    border-bottom: 0;
   
}
/* navbar color */

.nav-color{
    background-color: #009858;
}

/* h2 style */

.h2 .title-section{
  padding: 5px;
}
.about-us {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    position: relative;
  }
  .about-us:hover .trend-item {
    transform: none;
  }
  .about-us .about-trending-topic ul li {
    display: inline-block;
    width: 49%;
    position: relative;
    line-height: 2.4;
    font-weight: 400;
  }
  .about-us .about-trending-topic ul li:before {
    content: '\f105';
    font-family: 'FontAwesome';
    margin-right: 10px; 
  }
  .about-us .about-image-box .about-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: #fcdc6b;
    animation: border-transform 10s linear infinite alternate forwards;
  }
  .about-us .about-image-box1 .about-image {
    margin-top: -40px;
  }
  .about-us .about-image-box1 .about-content {
    right: inherit;
    left: -40px;
    top: 0;
  }
  .about-us .about-inner {
    position: relative;
    z-index: 1;
  }
  .about-us .about-inner h2 {
    font-size: 48px;
    margin-bottom: 10px !important;
  }
  .about-us .about-inner .about-image-box {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
  .about-us .about-inner .about-image-box img {
    width: 100%;
  }
  .about-us .about-inner .about-image-box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
  .about-us .about-inner .about-image-box:hover:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 200%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 200%, 0); 
  }
  .about-us .box-title i {
    font-size: 38px;
    color: #029e9d; 
  }
  .about-us .about-left {
    position: absolute;
    top: 50%;
    right: -50px;
    background: #fff;
    width: 100%;
    z-index: 1;
    transform: translateY(-50%);
    border-radius: 15px;
    padding: 30px 30px 30px 0; 
  }
  .about-us1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .about-us1:before {
      background: #fff;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      z-index: 1; 
  }


  /* kedua style */

  #search{
    background-image: url(../projekkiki/asset/66.jpg);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  #search .info-pages {
    backdrop-filter: blur(10px);
  }
  
  #search h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0mm;
    text-align: center;
    
  }
  
  #search p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0mm;
    text-align: center;
    
  }
  
  
  .input-cari{
  height: 50px;
  }
  
  
  .input-cari:focus{
  border: none;
  }
  
  
  .input-cari .Button-secondary{
  width: 200px;
  height: 88px;
  background-color: rgba(255,255,255,0.8);
  color: var(--pr-color);
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 0px 10px 0 10px;
  }
  
  .input-cari .Button-Primary{
  height: 88px;
  background-color: var(--pr-color);
  color: #fff;
  border: #fff;
  font-size: 36px;
  font-weight: 500;
  border-radius: 0 10px 0 10px;
  }
  
  .nav-tabs{
  border: none;
  }
  
  .nav-tabs .nav-link{
  background-color: rgba(255, 255, 255, 0.5) ;
  border-radius: 0 0 0;
  }
  
  .nav-tabs .nav-link .active{
  background-color: rgba(255, 255, 255, 0.8) ;
  color: var(--pr-color);
  border-radius: 0 9px 0 0;
  font-weight: 500;
  }
  
  .nav-tabs .nav-link{
  color: #000;
  border: none;
  
  }
  

  /* asdasdas */

  img{
    max-width: 100%;
  }
  .gallery{
    background-color: #dbddf1;
    padding: 80px 0;
  }
  .gallery img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
  }
  #gallery-modal .modal-img{
    width: 100%;
  }


  /* footer */
  footer {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #17233e;
  }
  footer .overlay {
    opacity: 0.8;
  }
  footer a, footer p, footer li {
    color: #fff;
    font-weight: 400;
  }
  footer s:hover {
    color: #fff !important;
  }
  footer h3 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  footer h3:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background: #fff;
    left: 0;
    bottom: 0;
  }
  
  footer .footer-upper {
    position: relative;
    z-index: 1;
  }
  footer .footer-upper .footer-links ul.list li {
    display: inline-block;
    padding: 0 10px;
  }
  footer .footer-upper .footer-links ul li {
    margin-bottom: 20px;
    color: #fff;
    display: block;
  }
  footer .footer-upper .footer-links ul li a {
    transition: all ease-in-out 0.5s;
    color: #fff;
  }
  footer .footer-upper .footer-links ul li a:hover {
    color: #009858 !important;
    transition: all ease-in-out 0.5s;
  }
  footer .footer-upper .footer-links ul li a.active {
    color: #009858;
  }
  footer .footer-upper .footer-links ul p span {
    color: #009858;
  }
  footer .footer-upper .footer-links .tagcloud a {
    display: inline-block;
  }
  footer .footer-upper .footer-links .tagcloud a:hover {
    background: #009858 !important;
  }
  footer .footer-upper .footer-links  {
    border: none;
    padding: 0;
  }
  footer .footer-upper .footer-links p.f-para {
    border-bottom: 1px dashed #f1f1f1;
  }
  footer .footer-upper .footer-links input .nir-btn {
    border: none;
  }
  footer .footer-upper .footer-links input .nir-btn:hover {
    opacity: 0.8;
    background: #009858 !important;
    color: #fff;
  }
  footer .footer-upper .footer-links .post-list {
    border-bottom: 1px dashed #ffffff30;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  footer .footer-upper .footer-links .post-list:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }
  footer .footer-upper .footer-links .post-list .post-image {
    width: 30%;
    border-radius: 0px;
    overflow: hidden;
  }
  footer .footer-upper .footer-links .post-list span {
    font-size: 12px;
  }
  footer .footer-upper .footer-about p, footer .footer-upper .footer-about li {
    color: #777;
  }
  footer .footer-upper .footer-about li {
    line-height: 2;
  }
  footer .footer-middle {
    border-top: 1px dashed #f1f1f1;
  }
  footer .footer-middle .footer-nav ul li a {
   display: inline-block;
   margin: 0 5px;
   font-weight: 700;
  }
  footer .footer-copyright {
    position: relative;
    z-index: 1;
  }
  footer .footer-copyright .copyright-inner {
    background: #fbfbfb12;
  }
  footer .newsletter-main .section-title h2 {
    font-size: 24px;
  }
  footer .newsletter-form button {
    width: 38%;
  }
  footer .footer-payment {
    position: relative;
    z-index: 2;
  }
  footer .footer-payment .col-lg-8.footer-payment-nav {
    margin-bottom: 1rem !important;
  }
  footer .footer-payment .col-lg-4.footer-payment-nav {
    margin-bottom: 1.5rem !important;
  }
  footer .footer-listing-main .footer-listing {
    border: 1px dashed #f1f157;
  }
  footer .footer-listing-main .footer-listing i {
    font-size: 36px;
    display: block;
  }
  
  .social-links {
    display: inline-block;
  }
  .social-links ul li {
    display: inline-block !important;
  }
  .social-links ul li a {
    background: #ffffff26;
    color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    line-height: 2.4;
    border-radius: 50%;
  }
  .social-links ul li a:hover {
    color: #fff;
    background: #009858;
  }